/* BUTTON FULL (.btn--full)
---------------------------------- */
// .btn--full extends .btn and centres a full size button with the text center-aligned.

.btn--full {
	@extend .btn;
    display: block;
    text-align: center;
    /* The following is so that .btn--full works properly on <input>`s as well as <a>`s. */
    padding-right: 0;
    padding-left:  0;
    width: 100%;
}