*,
*:before,
*:after {
    @include box-sizing(border-box);
}



    /* =2.1- PAGE LAYOUT
    ------------------------------------------------------ */
        /* =2.1.1 - CLEARFIX
        ---------------------------------- */
        %clearfix {
            *zoom: 1; // IE6/7 support

            &:before,
            &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }    
        }