.nav,
.nav--banner {
    @extend %prot-nav;
}
.nav--keywords {
    @extend %prot-nav-keywords;
}
.nav--stacked {
    @extend %prot-nav-stacked;
}
//
// Navs
// --------------------------------------------------
%prot-nav {
    background-color: $bodyBackground;

    .nav__label {
        color: $linkColor;
        @include line-h($base-font-size, 1);
        @include vrm(padding, .25, .5);

        &:hover {
            background-color: $grayLighter;
            color: $linkColorHover;
        }
    }
    .is-current {
        .nav__label,
        .nav__label:hover {
            background-color: $bodyBackground;
            color: $gray;
        }
    }
}
%prot-nav-keywords {
    .nav__label {
        color: $linkColor;

        &:hover {
            color: $linkColorHover;
            text-decoration: underline;
        }

    }
    .is-current {
        .nav__label,
        .nav__label:hover {
            color: $gray;
            cursor: default;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
%prot-nav-stacked {
    @extend %prot-nav;

    .nav__label {
        border-top: 1px solid #ddd;
        margin: 0;
    }
    li:first-child {
        .nav__label {
            border-top: 0;
        }
    }
}