
// Core variables and mixins
@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";
@import "partials/settings";
@import "partials/mixins";

// CSS Reset
//@import "reset";

// Grid system and page structure
@import "scaffolding";
// @import "grid";
// @import "layouts";

// Base CSS
//@import "type";
// @import "code";
// @import "forms";
// @import "tables";

// Components: Nav
@import "navs";

body {
    background: $grayLight;
    margin: 0;
}
.wrapper-main {
    background: $white;
    margin: 0 auto;
    padding: 2em; 
    max-width: 900px;
}