/* =3.2 - BUTTONS (.btn)
------------------------------------------------------ */
//  Basic button structural styling. Extend in your theme stylesheet.
//
//  Demo: jsfiddle.net/inuitcss/RqHcp

.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin:  0;
    line-height: 1;
    /**
     * Set padding in ems so we can change the size of a button by merely
     * altering its `font-size`.
     */
    padding: 0.5em;

    &,
    &:hover {
        text-decoration: none;
    }
}

@import "buttons/btn--full";