// <ul class="nav">
//     <li><a href=# class="nav__label">Home</a></li>
//     <li><a href=# class="nav__label">About</a></li>
//     <li><a href=# class="nav__label">Portfolio</a></li>
//     <li><a href=# class="nav__label">Contact</a></li>
// </ul>

/* =3.1 - NAV (.nav)
------------------------------------------------------ */
%nav-base {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.nav__label {
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
    .is-current & {
        cursor: default;
    }
}
.nav {
    @extend %nav-base;
    @extend %cf;

    > li {
        float: left;
    }
}

@import "nav/_nav--stacked";
@import "nav/_nav--banner";
@import "nav/_nav--keywords";